*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #333;
}

.container{
    text-align: center;
    margin-top: 10%;
}

.image{
    width: 240px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    transition: 500ms;
}

.image:hover{
    background-blend-mode: lighten;
    background-position: bottom center;
}

.img1{
    background-image: url(../images/i1.png);
}

.img2{
    background-image: url(../images/i2.png);
}

.img3{
    background-image: url(../images/i3.png);
}