body{
    color: #FFFFFB;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "montserrat", sans-serif;
}

section{
    padding: 30vh 0;
}

.one{
    background: #FFC145;
    position: relative;
}

.one .one__icon{
    background: rgba(0,0,0, .3);
    color: rgba(0,0,0, .3);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    font-size: 2rem;
}

.one::after,
.one::before{
    position: absolute;
    content: "";
    width: 150px;
    height: 150px;
    background: #FFC145;
    bottom: -1em;
    z-index: 100;
}

.one::before{
    right: 50%;
    transform: skew(0, 20deg);
}

.one::after{
    left: 50%;
    transform: skew(0, -20deg);
}

.two{
    background: #FF6B6C;
    position: relative;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
}

.two__image{
    /* clip-path: circle(50%); */
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}

.three{
    background: #5B5F97;
}