body{
    margin: 0;
    padding: 0;
    background: url('../images/pricing_table_bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav{
    position: fixed;
    width: 30%;
    height: 50%;
    cursor: pointer;
}

.nav-item{
    position: absolute;
    top: 60px;
    left: 10px;
    display: none;
}

.nav:hover .nav-item{
    display: block;
}

.nav-item ul{
    margin: 0;
    padding: 0;
}

.nav-item ul li{
    list-style: none;
    background: rgba(0, 0, 0, .2);
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 2px 2px 05px rgba(0, 0, 0, .4);
    margin-bottom: 5px;
    text-align: center;
    transition: .5s;
    animation: dropdown 1s linear;
}

.nav-item ul li a{
    text-decoration: none;
    color: white;
}

@keyframes dropdown{
    0% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.home-btn{
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, .2);
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    box-shadow: 2px 2px 05px rgba(0, 0, 0, .4);
}

.home-btn a{
    text-decoration: none;
    color: white;
}

.pricing-table{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.col{
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
}

.table{
    background: #fff;
    padding: 40px 20px;
    font-family: "Montserrat", sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
}

.table h2{
    text-transform: uppercase;
}

.table ul{
    margin: 0;
    padding: 0;
}

.table ul li{
    padding: 10px 0;
    list-style: none; 
}

.price{
    font-size: 40px;
    margin-bottom: 20px;
}

.price span{
    display: block;
    font-size: 14px;
} 

.table a{
    text-decoration: none;
    color: #2c3e50;
    border: 2px solid #2c3e50;
    padding: 10px 0;
    margin: 10px 0;
    display: block;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s linear;
}

.table a:hover{
    background: #2c3e50;
    color: #fff;
}

.pop{
    background: #2c3e50;
    color: #fff;
    padding: 10px 40px;
    position: absolute;
    transform: rotate(45deg);
    top: 18px;
    right: -34px;
}

@media screen and (max-width: 980px){
    .col{
        flex: 50%;
    }
}

@media screen and (max-width: 700px){
    .col{
        flex: 100%;
    }
}